<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- index scripts -->
  <script th:src="@{/js/index.js}"></script>

  <!-- index styles -->
  <link th:href="@{/styles/index.css}" rel="stylesheet" />



</head>
<body>

  <main>
    <h1>Hello World</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus id unde qui sit dignissimos quas atque laborum deserunt et magnam, perferendis ut doloribus corporis, quisquam facere cupiditate rem. Earum amet quo necessitatibus!</p>
  </main>

  
</body>
</html>